.notFoundPage {
    display: grid;
    max-width: 1200px;
    margin: 58px auto 50px;
    position: relative;

    h2 {
        margin-top: 30px;
        text-align: center;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        margin: 20px;
        text-align: center;
    }
}